@import 'node_modules/bootstrap/scss/bootstrap';

.main-container{
    background-color: #343a40;
}

// technology class
.PHP{
    background-color: darkblue;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  
  .Vue{
    background-color: violet;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  
  .Vite{
    background-color: green;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  
  .Laravel{
    background-color: red;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  
  .CSS{
    background-color: orange;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  
  .HTML{
    background-color: darkslategray;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }
  .JavaScript{
    background-color: yellow;
    border-radius: 0.9rem;
    padding: 0 0.4rem;
  }